<div class="client_card">
    <a href="/clients/@client.Id">
        <h4>@client.Id - @client.Name - @client.PhoneNumber</h4>
    </a>
    <button type ="button" class="btn btn-outline-danger" @onclick="ClickDelete"> Удалить </button>
    @*<button type="button" class="btn btn-outline-warning" @onclick="ClickUpdate"> Изменить </button>*@
    <button type="button" class="btn btn-outline-warning" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Изменить
    </button>
    <div class="collapse" id="collapseExample">
  <div class="card card-body">
    Некоторый заполнитель для компонента сворачивания. Эта панель по умолчанию скрыта, но открывается, когда пользователь активирует соответствующий триггер.
  </div>
</div>
</div>

@code {
    [Parameter] public ClientOutputModel client {get; set;}
    [Parameter] public EventCallback<int>  btnDelete { get; set; }
    [Parameter] public EventCallback<ClientInputModel> btnUpdate { get; set; }

    private void ClickDelete()
    {
        btnDelete.InvokeAsync(client.Id);
    }

    private void ClickUpdate()
    {
        ClientInputModel updateClient = new ClientInputModel
            {
                Name = client.Name,
                PhoneNumber = client.PhoneNumber
            };

        btnUpdate.InvokeAsync(updateClient);
    }
}