@inherits LayoutComponentBase

<PageTitle>OfferAggregator</PageTitle>

<div class="page" style="background-color: #f8f8ff">
    <div class="sidebar" style=" background: linear-gradient(to top, #20155E, 60%, #9DB1CC)">
       
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

