@inject NavigationManager _navigationManager

<ModalWindow IdModal="@IdModal">
    <NameWindow>
        Удаление клиента
    </NameWindow>
    <Inside>
        Вы точно хотите удалить данного пользователся ??????
    </Inside>
    <ButtomBot>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" @onclick="ClickDelete">УДАЛИТЬ </button>
    </ButtomBot>
</ModalWindow>

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public string IdModal { get; set; }
    ClientService _clientService = new ClientService();

    private void ClickDelete()
    {
        _clientService.DeleteClient(Id);
        _navigationManager.NavigateTo("/clients", true);
    }
}
