<div class="modal fade" id="@IdModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@NameWindow</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                @Inside
            </div>
            <div class="modal-footer">
                @ButtomBot
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment NameWindow { get; set; }
    [Parameter] public RenderFragment Inside { get; set; }
    [Parameter] public RenderFragment ButtomBot { get; set; }
    [Parameter] public string IdModal { get; set; }
}
