@page "/clients"
@inject NavigationManager _navigationManager

<div class="blokVerx">
    <EditForm Model=@Client>
        <DataAnnotationsValidator/>
        <ValidationSummary />
    <h2>Добавить нового клиента</h2>
        <input class="forma_input" type="text" placeholder="Имя" @bind="Client.Name" />
            <ValidationMessage For="() => Client.Name" />
            <input class="forma_input" type="text" placeholder="Телефон" @bind-value="Client.PhoneNumber" ShowValidationIcon="true" />
            <ValidationMessage For="() => Client.PhoneNumber" />
    <button type="submit" class="btn btn-outline-success" @onclick="AddNewClient"> Добавить </button>
    </EditForm>
</div>
<div>
    @foreach (var i in _clients)
    {
        <ClientCard client="i" />
    }
</div>

@code {
    ClientService _clientServis = new ClientService();
    private List<ClientOutputModel> _clients = new List<ClientOutputModel>();
    public ClientInputModel Client;

    protected override void OnInitialized()
    {
        _clients = _clientServis.GetAllClients();
        Client = new ClientInputModel();
    }

    private void AddNewClient()
    {
        _clientServis.AddClient(Client);
        _navigationManager.NavigateTo("/clients", true);
    }
}