@page "/clients"
@inject NavigationManager _navigationManager
@attribute [Authorize]

<div class="blokVerx">
    <h2>Добавить нового клиента</h2>
        <input class="forma_input" type="text" placeholder="Имя" @bind="Client.Name" />
        <input class="forma_input" type="text" placeholder="Телефон" @bind-value="Client.PhoneNumber" ShowValidationIcon="true" />
    <button type="submit" class="btn btn-outline-success" @onclick="AddNewClient"> Добавить </button>
</div>
<div>
    @foreach (var i in _clients)
    {
        <ClientCard client="i" />
    }
</div>

@code {
    ClientService _clientServis = new ClientService();
    private List<ClientOutputModel> _clients = new List<ClientOutputModel>();
    public ClientInputModel Client;

    protected override void OnInitialized()
    {
        _clients = _clientServis.GetAllClients();
        Client = new ClientInputModel();
    }

    private void AddNewClient()
    {
        _clientServis.AddClient(Client);
        InvokeAsync(StateHasChanged);
    }
}