@page "/clients/{Id:int}"
@inject NavigationManager _navigationManager

<div class="blokInfo">
    <h2>Новый комментарий:</h2><input type="text" size="40%" placeholder="Текст комментария" @bind="CommentInput.Text" />
    <button type="button" class="btn btn-outline-success" @onclick="AddComment">Добавить</button>
    <div class="text_simple">
        @if (_allComments.Count != 0)
        {
            <ul>
                @foreach (var k in _allComments)
                {
                    <li><CommentsCard comment="k" btnDelete="DeleteComment" /></li>
                }
            </ul>
        }
        else
        {
            <h5>Комментариев к клиенту пока нет!</h5>
        }
    </div>
</div>
<div class="blokInfo">
    <h2>Предложи клиенту!</h2>
    <table id="table">
            <tr>
                <td><b>Имя товара</b></td>
                <td><b>Вероятность покупки</b></td>
                <td><b>Количество на складе</b></td>
            </tr>
            @for (int i = 0; i < _allOffer.Count; i++)
            {
                <tr>
                <td>@_allOffer[i].Name</td>
                <td>@_allOffer[i].PurchaseProbability</td>
                <td>@_allOffer[i].Amount</td>
                </tr>
            }
        </table>
</div>

@code {
    [Parameter] public int Id { get; set; }
    ClientService _clientServis = new ClientService();
    AggregatorService _aggregatorService = new AggregatorService();
    private ClientOutputModel _clientOutput;
    CommentForClientInputModel CommentInput = new CommentForClientInputModel();
    List<CommentForClientOutputModel> _allComments;
    List<SelectProductForClientOutputModel> _allOffer;

    protected override void OnInitialized()
    {
        _clientOutput = _clientServis.GetClientById(Id);
        _allComments = _clientServis.GetAllCommentsForClientById(Id);
        _allOffer = _aggregatorService.SelectOfPotentialProductsForClient(Id);
    }

    private void AddComment()
    {
        _clientServis.AddComment(CommentInput, Id);
        InvokeAsync(StateHasChanged);
    }

    private void DeleteComment(int a)
    {
        _clientServis.DeleteComment(a);
    }
}