@page "/"

<AuthorizeView>
    <Authorized>
        <p>Логин менеждера: @context.User.Identity.Name</p>
        <p>Айди: @context.User.Claims.Where(c => c.Type == "ID").FirstOrDefault()</p>
    </Authorized>
    <NotAuthorized>
        <p>You're not authorized.</p>
    </NotAuthorized>
</AuthorizeView>


@code{
}