@page "/clients/{Id:int}"
@inject NavigationManager _navigationManager

<h3>InfoClient</h3>
<div>
    <span>Комментарий:</span><input type="text" @bind="ClientInput.Text" />
    <button type="button" class="btn btn-outline-success" @onclick="AddComment">Добавить</button>
</div>
<div>
    @if (_allComments == null)
    {
        <h2>Комментариев пока нет!</h2>
    }
    else
    {
        <ul type="disc">
            @for (int i = 0; i < _allComments.Count; i++)
            {
                    <li>@_allComments[i].Text</li>
            }
        </ul>
    }
</div>

@code {
    [Parameter] public int Id { get; set; }
    private ClientService _clientServis;
    private ClientOutputModel ClientOutput;
    CommentForClientInputModel ClientInput = new CommentForClientInputModel();

    List<CommentForClientOutputModel> _allComments;

    protected override void OnInitialized()
    {
        _clientServis = new ClientService();
        ClientOutput = _clientServis.GetClientById(Id);
        _allComments = _clientServis.GetAllCommentsForClientById(Id);
    }

    private void AddComment()
    {
        _clientServis.AddComment(ClientInput, Id);
    }
}