@page "/Manager"

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity.Name!</p>
        <p>Hello, @context.User.Claims.Where(c => c.Type == "Id").FirstOrDefault()!</p>
    </Authorized>
    <NotAuthorized>
        <p>You're not authorized.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    //[Parameter] public int idManager { get; set; }

}
