@page "/test"
@using OfferAggregator.Bll;
@using OfferAggregator.Bll.Models;
@using OfferAggregator.Dal.Repositories;

<button @onclick="GetProducts">Получить продуктики</button>

<table>
    <th>Id</th>
    <th>Name</th>
    <th>GroupId</th>
    @foreach (var product in _products)
    {
        <tr>
            <th>@product.Id</th>
            <th>@product.Name</th>
            <th>@product.GroupId</th>
        </tr>
    }
</table>



@code {
    private ProductService _productService = new ProductService(
            new ProductsRepository(),
            new ProductsReviewsAndStocksRepository(),
            new TagsRepository(),
            new GroupRepository());

    private List<ProductModel> _products = new List<ProductModel>();

    private void GetProducts()
    {
        _products = _productService.GetAllProducts();
    }
}