@page "/Stock"

<div style="font-size: 39px; text-align: center; font-weight: 600;">
    Склад
</div>
<div class="stock-top-btns">
    <button @onclick="SetOrUnsetAddProductContent" class="btn">Добавить новый товар</button>
    <button @onclick="SetOrUnsetRegistrateProductContent" class="btn">Оприходывать товар</button>
    <div style="padding-left:160px;"></div>
    <button @onclick="SetOrUnsetRegistrateProductContent" class="btn">Группы</button>
    <button @onclick="SetOrUnsetRegistrateProductContent" class="btn">Теги</button>
</div>
<div style="width: 500px; padding-bottom: 100px">
    @switch (_content)
    {
        case StockPageContent.AddProduct:
            <AddProduct />
            break;
        case StockPageContent.RegistrateProduct:
            <RegistrateProduct />
            break;
        case StockPageContent.None:
            <GetFullProducts />
            break;
    }
</div>

@code {
    private StockPageContent _content;

    private void SetOrUnsetAddProductContent()
    {
        SetContent(StockPageContent.AddProduct);
    }

    private void SetOrUnsetRegistrateProductContent()
    {
        SetContent(StockPageContent.RegistrateProduct);
    }

    private void SetContent(StockPageContent stockPageContent)
    {
        if (_content == stockPageContent)
        {
            _content = StockPageContent.None;
        }
        else
        {
            _content = stockPageContent;
        }
    }

    private enum StockPageContent
    {
        None = 0,
        AddProduct = 1,
        RegistrateProduct = 2
    }
}
