@page "/Stock"

<h1>Склад</h1>
<div>
    <button @onclick="SetOrUnsetAddProductContent" class="btn">Добавить товар</button>
    <button @onclick="SetOrUnsetRegistrateProductContent" class="btn">Оприходывать товар</button>
</div>
<div style="width: 500px">
    @switch (_content)
    {
        case StockPageContent.AddProduct:
                <AddProduct />
            break;
        case StockPageContent.RegistrateProduct:
                <RegistrateProduct />
            break;
    }

</div>


@code {
    private StockPageContent _content;

    private void SetOrUnsetAddProductContent()
    {
        SetContent(StockPageContent.AddProduct);
    }

    private void SetOrUnsetRegistrateProductContent()
    {
        SetContent(StockPageContent.RegistrateProduct);
    }

    private void SetContent(StockPageContent stockPageContent)
    {
        if (_content == stockPageContent)
        {
            _content = StockPageContent.None;
        }
        else
        {
            _content = stockPageContent;
        }
    }

    private enum StockPageContent
    {
        None = 0,
        AddProduct = 1,
        RegistrateProduct = 2
    }
}
