@using OfferAggregator.Bll.Models;
@using OfferAggregator.Bll;
@using OfferAggregator.Dal.Models;
@using OfferAggregator.Dal.Repositories;
@using System.ComponentModel.DataAnnotations;
@using System.Timers
@using System.Threading.Tasks

<h3>Изменить количество товара на складе</h3>

<EditForm Model="@_updateStockProduct" OnValidSubmit="@UpdateAmountProductInStock">
    <DataAnnotationsValidator />
    <ValidationSummary />

<div>
        Название товара: @_stockProduct.Name
</div>

<div>
        Сейчас на складе товар находится в следующем количестве: @_stockProduct.Amount
</div>

<div>
    <div>Введите количество, на которое хотите изменить</div>
    <InputNumber id="amount" @bind-Value="_updateStockProduct.Amount" />
</div>

<button type="submit">Изменить количество</button>
</EditForm>

@if (_isAdded)
{
<div>Количество товара на складе успешно изменено!</div>    
}

@code {
    [Parameter]
    public int ProductId { get; set; }

    private ProductService _productService;

    private StocksWithProductInputModel _updateStockProduct;

    private StocksWithProductOutputModel _stockProduct;

    private bool _isAdded;

    private Timer _timer;

    protected override void OnInitialized()
    {
        _productService = new ProductService(
        new ProductsRepository(),
        new ProductsReviewsAndStocksRepository(),
        new TagsRepository(),
        new GroupRepository(),
        new ClientRepository()
        );
        _stockProduct = _productService.GetAmountByProductId(ProductId);
        FillFormOfUpdateStockProduct();
        _timer = new Timer();
        _timer.Interval = 2000;
        _timer.Elapsed += StopShowing;
    }

    private void FillFormOfUpdateStockProduct()
    {
        _updateStockProduct = new StocksWithProductInputModel();
        _updateStockProduct.ProductId = _stockProduct.ProductId;
        _updateStockProduct.Name = _stockProduct.Name;
        _updateStockProduct.Amount = _stockProduct.Amount;
    }

    private void UpdateAmountProductInStock()
    {
        if (_updateStockProduct.Amount > 0)
        {
            _productService.UpdateAmountInStock(_updateStockProduct);
            _stockProduct = _productService.GetAmountByProductId(ProductId);
            _isAdded = true;
            _timer.Start();
        }
    }

    private async void StopShowing(object sender, ElapsedEventArgs args)
    {
        _isAdded = false;
        await InvokeAsync(StateHasChanged);
        _timer.Stop();
    }
}